# Node.js dependencies
node_modules/

# Tailwind CSS build files
dist/

# Logs
logs/
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Environment variables file
.env
